services:
  backend:
    build:
      context: ./backend
    environment:
      - WS_PORT=8080
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./backend:/app
      - /app/node_modules
    ports:
      - ${BACKEND_PORT:-8080}:8080
    command: sh -c "npm install && npm run dev"

  frontend:
    build:
      context: ./frontend
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - ${FRONTEND_PORT:-8081}:8081
    command: sh -c "npm install && npm run dev"
